th{ 
   font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    width: 25%;
    text-align: center;
    border: 1px solid #000;

}
 td {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14;
    color: rgb(0, 0, 0);
    width: 15px;
    text-align: left;
    border: 1px solid #000;
 }


